<nav>
  <a href="/plants">Plant Index</a>
  <a href="/gardens">Garden Index</a>
</nav>

<h1><%= @plant.name %></h1>

<p>Edible: <%= @plant.edible %></p>
<p>Mature Height: <%= @plant.mature_height %></p>
