<h1>All Farmers</h1>

<% @farmers.each do |farmer| %>
  <h3><%= link_to "#{farmer.name}", "/farmers/#{farmer.id}"%></h3>

  <p>Age: <%= farmer.age %></p>
  <p>Owns Land: <%= farmer.owns_land %></p>
  <%= button_to "Delete Farmer #{farmer.name}", "/farmers/#{farmer.id}", method: :delete %>
<% end %>
