<nav>
  <p><a href='/farms'>Farm Index</a></p>
  <p><a href='/farmers'>Farmer Index</a></p>
  <p><a href='/gardens'>Garden Index</a></p>
  <p><a href='/plants'>Plants Index</a></p>
</nav>

<h1><%= @farmer.name %> </h1>

<p>Owns Land: <%= @farmer.owns_land %></p>
<p>Age: <%= @farmer.age %></p>
