<nav>
  <a href='/farms'>Farm Index</a>
  <a href='/farmers'>Farmer Index</a>
  <a href='/gardens'>Garden Index</a>
  <a href='/plants'>Plants Index</a>
</nav>

<h1><%= @farmer.name %> </h1>

<p>Owns Land: <%= @farmer.owns_land %></p>
<p>Age: <%= @farmer.age %></p>
