<nav>
  <p><a href='/farms'>Farm Index</a></p>
  <p><a href='/farmers'>Farmer Index</a></p>
  <p><a href='/gardens'>Garden Index</a></p>
  <p><a href='/plants'>Plants Index</a></p>
</nav>

<h1>All Gardens</h1>

<% @gardens.each do |garden| %>
  <h3><a href='/gardens/<%= garden.id %>'><%= garden.name %></a> (<%= garden.created_at %>)</h3>
<% end %>
