<nav>
  <a href='/farms'>Farm Index</a>
  <a href='/farmers'>Farmer Index</a>
  <a href='/gardens'>Garden Index</a>
  <a href='/plants'>Plants Index</a>
</nav>

<h1><%= @farm.name %>'s Farmers</h1>

<% @farmers.each do |farmer| %>
  <h3><%= farmer.name %></h3>
  <p>Age: <%= farmer.age %></p>
  <p>Owns Land: <%= farmer.owns_land %></p>
<% end %>
