/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
 font-family: arial, sans-serif;
 font-size: 16px;
 color: black;
}

body {
 background-color: #F5F9EF;
 display: block;
 padding: 10px;
}

nav {
 background-color: #535FA6;
 display: block;
 justify-content: space-around;
 padding: 5px;
 width: 100%;
 position: fixed;
 top: 0;
 left: 0;
 margin-bottom: 20px;
 border-bottom: 2px solid #A7D370;
 padding: 15px 0px;
}

nav a {
   color: snow;
}

h1 {
  font-size: 2em;
  padding: 10px;
  margin: 20px auto;
  width: 80%;
  display: block;
  text-align: center;
  text-transform: capitalize;
}

h2 {
  margin: 2px auto;
  padding: 2px;
  width: 80%;
  display: block;
  text-align: center;
  font-size: 1.5em;
  text-transform: capitalize;
}

h3 {
  margin: 2px auto;
  padding: 5px;
  width: 80%;
  color: #535FA6;
  font-size: 1.2em;
  text-transform: capitalize;
  background-color: #C3E09F;
  border-radius: 5px;

}

/* ^^^? {
  margin: 2%;
} */

h3 a{
  margin: 2px auto;
  padding: 5px;
  width: 80%;
  font-size: 1.2em;
  text-transform: capitalize;
  background-color: #C3E09F;
}

p {
  margin: 0px auto 20px auto;
  padding: 5px;
  width: 80%;
  display: block;
  text-align: center;
  font-size: 1em;
}

a {
  padding: 5px;
  margin: 2%;
  color: #535FA6;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 5px;
}

a:hover {
  text-decoration: underline;
}

html {
  padding: 0;
  margin: 0;
  text-align: center;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 25px auto;
  padding: 15px;
  width: 60%;
  border: 2px solid #A7D370;
  border-radius: 10px
}

.index-item {
  padding: 15px;
  display: block;
  margin: 15px auto;
  border: 2px solid #A7D370;
  border-radius: 10px;
  width: 60%;
}

.index-item a {
  margin: 10px 10px;
  text-align: center;
  border-radius: 5px;
}

button, label, input {
  padding: 6px;
  color: black;
}

label {
  margin-bottom: 2px;
  margin-top: 5px;
  text-align: left;
}

input {
  margin: 5px;
  width: 50%;
}
