/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   font-family: arial, sans-serif;
   font-size: 16px;
   color: black;
 }

 body {
   background-color: #C3E09F;
   display: block;
 }

 nav {
   background-color: #535FA6;
   padding: 10px;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   margin-bottom: 20px;
   border-bottom: 2px solid #A7D370;
 }
 nav a {
   color: snow;
 }

h1 {
  font-size: 2em;
  padding: 10px;
  margin: 20px auto;
  width: 80%;
  display: block;
  text-align: center;
  text-transform: capitalize;
}

h2 {
  margin: 5px auto;
  width: 80%;
  display: block;
  text-align: center;
  font-size: 1.5em;
  text-transform: capitalize;
}

h3 {
  margin: 5px auto;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.25em;
  text-transform: capitalize;
}

h3 a{
  margin: 5px auto;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.2em;
  text-transform: capitalize;
}

p {
  margin: 5px auto;
  padding: 5px;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.2em;
  text-transform: capitalize;
}

a {
  padding: 5px;
  margin: 2%;
  color: #535FA6;
  text-decoration: none;
  text-transform: capitalize;
}

a:hover {
  text-decoration: underline;
}

html {
  padding: 0;
  margin: 0;
  text-align: center;
}

form {
  display: block;
  margin: 20px auto;
  width: 60%;
  background-color: #A7D370;
  text-align: center;
}

.index-item {
  padding: 5px;
  display: block;
  margin: 15px auto;
  border: 2px solid #A7D370;
  border-radius: 10px;
  width: 50%;
}

.index-item a {
  margin: 10px;
  text-align: center;
}

button, label, input {
  margin: 8px;
  padding: 6px;
  color: black;
}
