/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   font-family: arial, sans-serif;
   font-size: 16px;
   color: black;
 }

 body {
   background-color: #C3E09F;
   display: block;
   padding: 10px;
 }

 nav {
   background-color: #535FA6;
   display: flex;
   justify-content: space-around;
   padding: 5px;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   margin-bottom: 20px;
   border-bottom: 2px solid #A7D370;
 }
 nav a {
   color: snow;
   background-color: #535FA6;
 }

h1 {
  font-size: 2em;
  padding: 10px;
  margin: 20px auto;
  width: 80%;
  display: block;
  text-align: center;
  text-transform: capitalize;
}

h2 {
  margin: 2px auto;
  padding: 2px;
  width: 80%;
  display: block;
  text-align: center;
  font-size: 1.5em;
  text-transform: capitalize;
}

h3 {
  display: flex;
  padding: 2px;
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
  text-transform: capitalize;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h3 a{
  margin: 2px auto;
  padding: 2px;
  width: 80%;
  font-size: 1.2em;
  text-transform: capitalize;
  background-color: #C3E09F;
}

p {
  margin: 0px auto 20px auto;
  padding: 5px;
  width: 80%;
  display: block;
  text-align: center;
  font-size: 1em;
}

a {
  padding: 5px;
  margin: 5px;
  color: black;
  text-decoration: none;
  background-color: #F5F9EF;
  border-radius: 5px;
}

a:hover {
  text-decoration: underline;
}

html {
  padding: 2px;
  margin: 2px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px auto;
  padding: 15px;
  width: 50%;
  background-color: #F5F9EF;
  border-radius: 10px;
}

.index-item {
  padding: 15px;
  display: block;
  margin: 15px auto;
  border: 2px solid #A7D370;
  border-radius: 10px;
  width: 60%;
}

.index-item a {
  margin: 10px 10px;
  text-align: center;
  border-radius: 5px;
}

label {
  margin-bottom: 2px;
  margin-top: 5px;
  text-align: left;
}

input {
  margin: 5px;
  padding: 2px;
  width: 50%;
}
